version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MYSQLHOST=db
      - MYSQLUSER=root
      - MYSQLPASSWORD=authentic_pwd_2025
      - MYSQLDATABASE=nebras_db
      - MYSQLPORT=3306
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=authentic_pwd_2025
      - MYSQL_DATABASE=nebras_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
